version: 2.1
orbs:
  ruby: circleci/ruby@0.1.2 
on:
  push:
    branches:
      - main
      - development
  pull_request:
    branches:
      - development
jobs:
  build:
    docker:
      - image: circleci/ruby:2.6.3-stretch-node
    executor: ruby/default
    steps:
      - checkout
      - run:
          name: Install Docker Compose
          command: |
            curl -L https://github.com/docker/compose/releases/download/1.25.3/docker-compose-`uname -s`-`uname -m` > ~/docker-compose
            chmod +x ~/docker-compose
            sudo mv ~/docker-compose /usr/local/bin/docker-compose
      - run:
          name: Start container and verify it's working
          command: |
            set -x
            sudo docker-compose up -d
            